
.imgBackground{
  background-image: url("https://i.ibb.co.com/FbT2jNzr/library-LG.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: initial;
  background-position-x: left;
  /* background-position-y: left; */
  /* background-attachment: fixed; */
}
.grad{
  background-image: radial-gradient(circle, #f86969, #2dfa56, #ff85e9 , #5223fa);
  color: yellow;
  text-shadow:#5223fa;
}
.grad2{
  background-image: radial-gradient(circle, #fd4c4c, #f950da , #5e32fe);
  color:rgb(250, 250, 120);
  text-shadow: #2dfa56;;
}
.grad3{
  background-image: radial-gradient(circle, #f950da, #5e32fe,#fd4c4c);
  color:rgb(250, 250, 120);
  text-shadow: #2dfa56;;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
